* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(4, 105, 105);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.centralizer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 40%;
    min-width: 430px;
    background-color: #e9e4e4;
    border-radius: 5px;
    flex-direction: column;
    padding: 2rem 1rem;
}

h1 {
    text-align: center;
}